<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="gift-placeによる勤怠管理システムです。">
<title>gp-attendance-management-system</title>
<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap(popper_bundled)/css/bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap(popper_bundled)/css/sticky-footer.css')}}">
</head>
<body style="background-color:gray;">
<header class="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
<img src="{{url_for('static', filename='logo.jpg')}}" width="32" hight="32">
<a class="navbar-brand" href="{{url_for('index')}}">&nbsp;&nbsp;&nbsp;&nbsp;gp-attendance-management-system</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbarNav4">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="{{url_for('show_users')}}">ユーザー管理</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{url_for('show_attendance')}}">打刻管理</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{url_for('import_from_csv')}}">CSV取込み</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{url_for('export_to_csv')}}">CSV書出し</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{url_for('reset_db')}}">DBリセット</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{url_for('admin_login')}}">ログアウト</a>
</li>
</ul>
</div>
</nav>
</header>
{% if attendance_info %}
<div class="login-form">
<form method="post">
<h2 class="text-center">打刻修正</h2>
<div class="form-group">
<h4 class="text-center">打刻ID: {{attndnc_id}}</h4>
</div>
<div class="form-group">
<input name="modify-user-name" type="text" class="form-control" placeholder="ユーザー名" required="required" value="{{attendance_info[0][0]}}">
</div>
<div class="form-group">
<input name="modify-begin-datetime" type="datetime-local" class="form-control" placeholder="出勤日時" required="required" value="{{attendance_info[0][1]}}">
</div>
<div class="form-group">
<input name="modify-end-datetime" type="datetime-local" class="form-control" placeholder="退勤日時" required="required" value="{{attendance_info[0][2]}}">
</div>
<div class="form-group">
<button type="submit" class="btn btn-primary btn-block">決定</button>
</div>
</form>
</div>
{% else %}
<div class="login-form">
<form method="post">
<h2 class="text-center">打刻修正</h2>
<div class="form-group">
<h4 class="text-center">打刻ID: {{attndnc_id}}</h4>
</div>
<div class="form-group">
<input name="user-name" type="text" class="form-control" placeholder="ユーザー名" required="required" value="">
</div>
<div class="form-group">
<input name="begin-datetime" type="datetime-local" class="form-control" placeholder="出勤日時" required="required" value="">
</div>
<div class="form-group">
<input name="end-datetime" type="datetime-local" class="form-control" placeholder="退勤日時" required="required" value="">
</div>
<div class="form-group">
<button type="submit" class="btn btn-primary btn-block">決定</button>
</div>
</form>
</div>
{% endif %}
<br>
<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="flash_message_text">{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<a class="btn btn-primary" href="{{url_for('search_attendance')}}">打刻検索</a>
<a class="btn btn-primary" href="{{url_for('show_attendance')}}">打刻一覧</a>
<a class="btn btn-primary" href="{{url_for('admin_prompt')}}">管理TOP</a>
<footer class="footer">
<div class="container text-center">
<p class="text-muted">Copyright &copy; 2023  gift-place  All rights reserved.</p>
</div>
</footer>
<script type="text/javascript" src="{{url_for('static', filename='jquery/jquery-3.6.4.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='bootstrap(popper_bundled)/js/bootstrap.bundle.js')}}"></script>
<script type="text/javascript">
var btn=$('.footer');
$(window).scroll(function(){if ($(this).scrollTop() > 80){btn.fadeIn();} else {btn.fadeOut();}});
btn.click(function(){$('body,html').animate({scrollTop: 0},500); return false;});
</script>
</body>
</html>